<div>
  <v-card class="mb-4">
    <v-card-title>
      Probability distribution function parameters
    </v-card-title>
    <v-card-text>
      <isa-laplace-probability-function-parameters />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Options
    </v-card-title>
    <v-card-text>
      <isa-histogram-class-count-field />
      <isa-kde-bandwidth-field />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Recovered probability distribution density function
    </v-card-title>
    <v-card-text>
      <isa-histogram-kde-recovered-density-plot />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      ECDF & Recovered CDF
    </v-card-title>
    <v-card-text>
      <isa-ecdf-recovered-cdf-plot />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Probability paper
    </v-card-title>
    <v-card-text>
      <isa-laplace-probability-paper />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Pearson's chi-squared test
    </v-card-title>
    <v-card-text>
      <isa-pearsons-chi-squared-test />
    </v-card-text>
  </v-card>
</div>
