<div>
  <v-card class="mb-4">
    <v-card-title>
      Probability distribution function parameters
    </v-card-title>
    <v-card-text>
      <isa-laplace-probability-function-parameters />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Recovered probability distribution density function
    </v-card-title>
    <v-card-text>
      <isa-histogram-kde-reconstructed-density-plot />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      ECDF & Recovered CDF
    </v-card-title>
    <v-card-text>
      <isa-ecdf-recovered-cdf-plot />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Probability paper
    </v-card-title>
    <v-card-text>
      <isa-laplace-probability-paper />
    </v-card-text>
  </v-card>
</div>
