<div>
  <v-card class="mb-4">
    <v-card-title>
      Options
    </v-card-title>
    <v-card-text>
      <isa-histogram-class-count-field />
      <isa-kde-bandwidth-field />
    </v-card-text>
  </v-card>

  <v-card class="mb-4">
    <v-card-title>
      Histogram & Kernel density estimation
    </v-card-title>
    <v-card-text>
      <isa-histogram-kde-plot />
    </v-card-text>
  </v-card>

  <v-card>
    <v-card-title>
      Variation series classes
    </v-card-title>
    <v-card-text>
      <isa-variation-series-classes-table />
    </v-card-text>
  </v-card>
</div>
